<!DOCTYPE HTML>
<html>

<head>
  <title>404</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Buy_shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
  <script type="application/x-javascript">
  addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);

  function hideURLbar() { window.scrollTo(0, 1); }
  </script>
  <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <!-- Custom Theme files -->
  <link href="css/style.css" rel='stylesheet' type='text/css' />
  <script src="js/simpleCart.min.js">
  </script>
  <!-- Custom Theme files -->
  <!--webfont-->
  <link href='http://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
  <!-- start menu -->
  <link href="css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
  <script type="text/javascript" src="js/megamenu.js"></script>
  <script>
  $(document).ready(function() { $(".megamenu").megamenu(); });
  </script>
</head>

<body>
	<% include include/header.ejs %>
  <div class="header_bottom men_border">
    <div class="container">
      <div class="col-xs-8 header-bottom-left">
        <div class="col-xs-2 logo">
          <h1><a href="index.ejs"><span>Buy</span>shop</a></h1>
        </div>
        <div class="col-xs-6 menu">
          <ul class="megamenu skyblue">
            <li><a class="color1" href="index.ejs">Men</a>
              <div class="megapanel">
                <div class="row">
                  <div class="col1">
                    <div class="h_nav">
                      <ul>
                        <li><a href="men.ejs">Accessories</a></li>
                        <li><a href="men.ejs">Bags</a></li>
                        <li><a href="men.ejs">Caps & Hats</a></li>
                        <li><a href="men.ejs">Hoodies & Sweatshirts</a></li>
                        <li><a href="men.ejs">Jackets & Coats</a></li>
                        <li><a href="men.ejs">Jeans</a></li>
                        <li><a href="men.ejs">Jewellery</a></li>
                        <li><a href="men.ejs">Jumpers & Cardigans</a></li>
                        <li><a href="men.ejs">Leather Jackets</a></li>
                        <li><a href="men.ejs">Long Sleeve T-Shirts</a></li>
                        <li><a href="men.ejs">Loungewear</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col1">
                    <div class="h_nav">
                      <ul>
                        <li><a href="men.ejs">Shirts</a></li>
                        <li><a href="men.ejs">Shoes, Boots & Trainers</a></li>
                        <li><a href="men.ejs">Shorts</a></li>
                        <li><a href="men.ejs">Suits & Blazers</a></li>
                        <li><a href="men.ejs">Sunglasses</a></li>
                        <li><a href="men.ejs">Sweatpants</a></li>
                        <li><a href="men.ejs">Swimwear</a></li>
                        <li><a href="men.ejs">Trousers & Chinos</a></li>
                        <li><a href="men.ejs">T-Shirts</a></li>
                        <li><a href="men.ejs">Underwear & Socks</a></li>
                        <li><a href="men.ejs">Vests</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col1">
                    <div class="h_nav">
                      <h4>Popular Brands</h4>
                      <ul>
                        <li><a href="men.ejs">Levis</a></li>
                        <li><a href="men.ejs">Persol</a></li>
                        <li><a href="men.ejs">Nike</a></li>
                        <li><a href="men.ejs">Edwin</a></li>
                        <li><a href="men.ejs">New Balance</a></li>
                        <li><a href="men.ejs">Jack & Jones</a></li>
                        <li><a href="men.ejs">Paul Smith</a></li>
                        <li><a href="men.ejs">Ray-Ban</a></li>
                        <li><a href="men.ejs">Wood Wood</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="grid"><a class="color2" href="#">Women</a>
              <div class="megapanel">
                <div class="row">
                  <div class="col1">
                    <div class="h_nav">
                      <ul>
                        <li><a href="men.ejs">Accessories</a></li>
                        <li><a href="men.ejs">Bags</a></li>
                        <li><a href="men.ejs">Caps & Hats</a></li>
                        <li><a href="men.ejs">Hoodies & Sweatshirts</a></li>
                        <li><a href="men.ejs">Jackets & Coats</a></li>
                        <li><a href="men.ejs">Jeans</a></li>
                        <li><a href="men.ejs">Jewellery</a></li>
                        <li><a href="men.ejs">Jumpers & Cardigans</a></li>
                        <li><a href="men.ejs">Leather Jackets</a></li>
                        <li><a href="men.ejs">Long Sleeve T-Shirts</a></li>
                        <li><a href="men.ejs">Loungewear</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col1">
                    <div class="h_nav">
                      <ul>
                        <li><a href="men.ejs">Shirts</a></li>
                        <li><a href="men.ejs">Shoes, Boots & Trainers</a></li>
                        <li><a href="men.ejs">Shorts</a></li>
                        <li><a href="men.ejs">Suits & Blazers</a></li>
                        <li><a href="men.ejs">Sunglasses</a></li>
                        <li><a href="men.ejs">Sweatpants</a></li>
                        <li><a href="men.ejs">Swimwear</a></li>
                        <li><a href="men.ejs">Trousers & Chinos</a></li>
                        <li><a href="men.ejs">T-Shirts</a></li>
                        <li><a href="men.ejs">Underwear & Socks</a></li>
                        <li><a href="men.ejs">Vests</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col1">
                    <div class="h_nav">
                      <h4>Popular Brands</h4>
                      <ul>
                        <li><a href="men.ejs">Levis</a></li>
                        <li><a href="men.ejs">Persol</a></li>
                        <li><a href="men.ejs">Nike</a></li>
                        <li><a href="men.ejs">Edwin</a></li>
                        <li><a href="men.ejs">New Balance</a></li>
                        <li><a href="men.ejs">Jack & Jones</a></li>
                        <li><a href="men.ejs">Paul Smith</a></li>
                        <li><a href="men.ejs">Ray-Ban</a></li>
                        <li><a href="men.ejs">Wood Wood</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li><a class="color4" href="about.ejs">About</a></li>
            <li class="active grid"><a class="color5" href="404.ejs">Blog</a></li>
            <li><a class="color6" href="contact.ejs">Support</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-4 header-bottom-right">
        <div class="box_1-cart">
          <div class="box_11">
            <a href="checkout.ejs">
              <h4><p>Cart: <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> items)</p><img src="images/bag.png" alt=""/><div class="clearfix"> </div></h4>
            </a>
          </div>
          <p class="empty"><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
          <div class="clearfix"> </div>
        </div>
        <div class="search">
          <input type="text" name="s" class="textbox" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
          <input type="submit" value="Subscribe" id="submit" name="submit">
          <div id="response"> </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="single_top">
    <div class="container">
      <div class="error-404 text-center">
        <h1>404</h1>
        <p>You ' ve Failed</p>
        <a class="b-home" href="index.ejs">Back to Home</a>
      </div>
    </div>
  </div>
  <% include include/footer.ejs %>
</body>

</html>