<div class="header_top">
  <div class="container">
    <div class="one-fifth column row_1">
      <span class="selection-box"><select class="domains valid" name="domains">
	       <option>English</option>
	       <option>French</option>
	       <option>German</option>
	    </select></span>
    </div>
    <div class="cssmenu">
      <ul>
        <li class="active"><a href="login.ejs">My Account</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="wrap-box"></div>
<div class="header_bottom">
  <div class="container">
    <div class="col-xs-8 header-bottom-left">
      <div class="col-xs-2 logo">
        <h1><a href="/"><span>Buy</span>shop</a></h1>
      </div>
      <div class="col-xs-6 menu">
        <ul class="megamenu skyblue">
          <li class="active grid"><a class="color1" href="/san-pham">Men</a>
            <div class="megapanel">
              <div class="row">
                <div class="col1">
                  <div class="h_nav">
                    <ul>
                      <li><a href="/danh-muc/">Accessories</a></li>
                      <li><a href="/danh-muc/">Bags</a></li>
                      <li><a href="/danh-muc/">Caps & Hats</a></li>
                      <li><a href="/danh-muc/">Hoodies & Sweatshirts</a></li>
                      <li><a href="/danh-muc/">Jackets & Coats</a></li>
                      <li><a href="/danh-muc/">Jeans</a></li>
                      <li><a href="/danh-muc/">Jewellery</a></li>
                      <li><a href="/danh-muc/">Jumpers & Cardigans</a></li>
                      <li><a href="/danh-muc/">Leather Jackets</a></li>
                      <li><a href="/danh-muc/">Long Sleeve T-Shirts</a></li>
                      <li><a href="/danh-muc/">Loungewear</a></li>
                    </ul>
                  </div>
                </div>
                <!-- <div class="col1">
                  <div class="h_nav">
                    <ul>
                      <li><a href="men.ejs">Shirts</a></li>
                      <li><a href="men.ejs">Shoes, Boots & Trainers</a></li>
                      <li><a href="men.ejs">Shorts</a></li>
                      <li><a href="men.ejs">Suits & Blazers</a></li>
                      <li><a href="men.ejs">Sunglasses</a></li>
                      <li><a href="men.ejs">Sweatpants</a></li>
                      <li><a href="men.ejs">Swimwear</a></li>
                      <li><a href="men.ejs">Trousers & Chinos</a></li>
                      <li><a href="men.ejs">T-Shirts</a></li>
                      <li><a href="men.ejs">Underwear & Socks</a></li>
                      <li><a href="men.ejs">Vests</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col1">
                  <div class="h_nav">
                    <h4>Popular Brands</h4>
                    <ul>
                      <li><a href="men.ejs">Levis</a></li>
                      <li><a href="men.ejs">Persol</a></li>
                      <li><a href="men.ejs">Nike</a></li>
                      <li><a href="men.ejs">Edwin</a></li>
                      <li><a href="men.ejs">New Balance</a></li>
                      <li><a href="men.ejs">Jack & Jones</a></li>
                      <li><a href="men.ejs">Paul Smith</a></li>
                      <li><a href="men.ejs">Ray-Ban</a></li>
                      <li><a href="men.ejs">Wood Wood</a></li>
                    </ul>
                  </div>
                </div> -->
              </div>
            </div>
          </li>
          <!-- <li class="grid"><a class="color2" href="#">Women</a>
            <div class="megapanel">
              <div class="row">
                <div class="col1">
                  <div class="h_nav">
                    <ul>
                      <li><a href="men.ejs">Accessories</a></li>
                      <li><a href="men.ejs">Bags</a></li>
                      <li><a href="men.ejs">Caps & Hats</a></li>
                      <li><a href="men.ejs">Hoodies & Sweatshirts</a></li>
                      <li><a href="men.ejs">Jackets & Coats</a></li>
                      <li><a href="men.ejs">Jeans</a></li>
                      <li><a href="men.ejs">Jewellery</a></li>
                      <li><a href="men.ejs">Jumpers & Cardigans</a></li>
                      <li><a href="men.ejs">Leather Jackets</a></li>
                      <li><a href="men.ejs">Long Sleeve T-Shirts</a></li>
                      <li><a href="men.ejs">Loungewear</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col1">
                  <div class="h_nav">
                    <ul>
                      <li><a href="men.ejs">Shirts</a></li>
                      <li><a href="men.ejs">Shoes, Boots & Trainers</a></li>
                      <li><a href="men.ejs">Shorts</a></li>
                      <li><a href="men.ejs">Suits & Blazers</a></li>
                      <li><a href="men.ejs">Sunglasses</a></li>
                      <li><a href="men.ejs">Sweatpants</a></li>
                      <li><a href="men.ejs">Swimwear</a></li>
                      <li><a href="men.ejs">Trousers & Chinos</a></li>
                      <li><a href="men.ejs">T-Shirts</a></li>
                      <li><a href="men.ejs">Underwear & Socks</a></li>
                      <li><a href="men.ejs">Vests</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col1">
                  <div class="h_nav">
                    <h4>Popular Brands</h4>
                    <ul>
                      <li><a href="men.ejs">Levis</a></li>
                      <li><a href="men.ejs">Persol</a></li>
                      <li><a href="men.ejs">Nike</a></li>
                      <li><a href="men.ejs">Edwin</a></li>
                      <li><a href="men.ejs">New Balance</a></li>
                      <li><a href="men.ejs">Jack & Jones</a></li>
                      <li><a href="men.ejs">Paul Smith</a></li>
                      <li><a href="men.ejs">Ray-Ban</a></li>
                      <li><a href="men.ejs">Wood Wood</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li> -->
          <li><a class="color4" href="/about">About</a></li>
          <li><a class="color5" href="/blog">Blog</a></li>
          <li><a class="color6" href="/contact">Support</a></li>
        </ul>
      </div>
    </div>
    <div class="col-xs-4 header-bottom-right">
      <div class="box_1-cart">
        <div class="box_11">
          <a href="checkout.ejs">
            <h4><p>Cart: <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> items)</p><img src="images/bag.png" alt=""/><div class="clearfix"> </div></h4>
          </a>
        </div>
        <p class="empty"><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
        <div class="clearfix"> </div>
      </div>
      <div class="search">
        <input type="text" name="s" class="textbox" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
        <input type="submit" value="Subscribe" id="submit" name="submit">
        <div id="response"> </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>